<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Members</title>
</head>
<body>
    <fieldset>
        <legend>Our All Team Members</legend>
        <ul>
            <li>John</li>
            <li>Michael</li>
            <li>David</li>
            <li>Steve</li>
            <li>Adam</li>
        </ul>
    </fieldset>
    <p>Thank you for check this page</p>
    <p>Go to <a href="../../index.html">Home</a></p>
</body>
</html>