<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testimonials</title>
</head>
<body>
    <h2>Here is our Testimonials</h2>
    <p>Social media is a great place to find quote testimonial examples, and you might even find customer images that you can repurpose in your own marketing. 

        This type of testimonial is quick and easy, as the positive reviews have already been written and shared, so all you need is permission to share it again. The benefit of the statements already being on social media also helps prove credibility, as anyone can double-check whether the review is genuine.
    </p>
    <img src="../img/two-tweets.jpg" alt="Testimonial image" width="500">
</body>
</html>